<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119958037-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-119958037-3');
    </script>

    <meta name="description" content="Yacht charter deposit insurance"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>PanPan insurance. Contacts</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Links -->
    <link rel="stylesheet" href="css/rd-mailform.css"/>
    <link rel="stylesheet" href="css/google-map.css">

    <!--JS-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>


    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page text-center">
    <!--========================================================
                              HEADER
    =========================================================-->

    <header class="well--inset-3">
        <div id="stuck_container" class="stuck_container">
            <div class="container-fluid container-wide">

                <nav class="navbar navbar-default navbar-static-top ">

                    <div class="navbar-header center-xs">
                        <h1 class="navbar-brand">
                            <a href="">
                                <span class="navbar-brand__icon material-icons-grain"></span>
                                PanPan Insurance BV
                            </a>
                        </h1>
                    </div>


                    <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">
                        <li>
                            <a href="">Home</a>
                        </li>
                        <!--<li class="dropdown">-->
                        <!--<a href="about.html">About</a>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--Single-Car Insurance-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--Multi-Car Insurance-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--Black Box Insurance-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="news.html">News</a>-->
                        <!--</li>-->
                        <li class="active">
                            <a href="contacts.html">Contacts</a>
                        </li>

                    </ul>
                </nav>

            </div>
        </div>
    </header>

    <!--========================================================
                              CONTENT
    =========================================================-->

    <main class="page-content">

        <section class="well-5 well--inset-1 bg-white text-md-left">
            <div class="container-fluid container-wide">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <h4>
                            Addresses
                        </h4>

                        <address class="contact-info-1">
                            <div class="h5">Address 1:</div>
                            <p>
                                Strawinskylaan 555, 1077 XX, Amsterdam, The Netherlands
                            </p>
                            <dl>
                                <dt class="h5">Phones:</dt>
                                <dd>
                                    <a href='callto:#'> +1 800 559 6580</a>
                                </dd>
                                <dd>
                                    <a href='callto:#'> +1 800 603 6035</a>
                                </dd>
                            </dl>
                            <div class="h5">Address 2:</div>
                            <p>
                                Nachtwachtlaan 241, 1058 EJ, Amsterdam, The Netherlands
                            </p>
                        </address>

                    </div>

                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-0 ">
                        <h4>Details</h4>

                        <form class='rd-mailform' action="" method="post" role="form">

                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="name">Your First name here</label>
                                <input id="name" type="text" name="name" data-constraints="@NotEmpty"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="surname">Surname</label>
                                <input type="text" id="surname" name="surname" data-constraints="@NotEmpty"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email"/>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="country">Country of
                                    residence</label>
                                <input type="text" class="form-control" id="country" name="country"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="companyName">Charter
                                    company</label>
                                <input type="text" class="form-control" id="companyName" name="companyName"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="sailingBase">Sailing area</label>
                                <input type="text" class="form-control" id="sailingBase" name="sailingBase"
                                />
                            </div>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="startDate">Charter travel
                                    start</label>
                                <input id="startDate" type="text" name="startDate"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" data-add-placeholder for="endDate">Charter travel
                                    finish</label>
                                <input type="text" class="form-control" id="endDate" name="endDate"/>
                            </div>
                            <div class="form-group">
                                <label data-add-placeholder for="deposit">Deposit</label>
                                <input type="number" class="form-control" id="deposit" name="deposit"/>
                            </div>

                            <br>
                            <center>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </center>
                        </form>
                        <br>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if "Error" not in message[1]: %}
                                        <div class="alert alert-info">
                                            <strong>Success! </strong> {{ message[1] }}
                                        </div>
                                    {% endif %}
                                    {% if "Error" in message[1]: %}
                                        <div class="alert alert-danger">
                                            <strong>Error: </strong> {{ message[1] }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}


                    </div>
                </div>
            </div>
        </section>


    </main>

    <!--========================================================
                            FOOTER
    =========================================================-->
    <footer>
        <section class="text-center text-md-left">
            <div class="container-fluid container-wide">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h6 class="fw-b">Navigation</h6>

                        <ul class="list">
                            <li><a href="">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="news.html">News</a></li>
                            <li class="active"><a href="contacts.html">Contacts</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h6 class="fw-b">Contacts</h6>
                        <!-- Contact Info -->
                        <address class="contact-info">
                            <dl>
                                <dt><span class="icon icon-xs icon-success material-icons-location_on"></span></dt>
                                <dd>
                                    <a href="#">Strawinskylaan 555, 1077 XX, Amsterdam, The Netherlands</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><span class="icon icon-xs icon-success material-icons-phone"></span></dt>
                                <dd>
                                    <a href='callto:#'>800-2345-6789</a>
                                </dd>
                            </dl>

                            <dl>
                                <dt><span class="icon icon-xs icon-success material-icons-email"></span></dt>
                                <dd>
                                    <a href='mailto:#'>info@panpan-insurance.com</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><span class="icon icon-xs icon-success material-icons-schedule"></span></dt>
                                <dd>
                                    7 Days a week from 9:00 am to 7:00 pm
                                </dd>
                            </dl>
                        </address>
                        <!-- END Contact Info -->
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h6 class="fw-b">Follow Us</h6>
                        <ul class="list--mod-1 ">
                            <li><span class="icon icon-xs icon-success fa-facebook"></span><a href="#">Facebook</a></li>
                            <li><span class="icon icon-xs icon-success fa-twitter"></span><a href="#">Twitter</a></li>
                            <li><span class="icon icon-xs icon-success fa-google-plus"></span><a href="#">Google +</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h6 class="fw-b">About</h6>

                        <p>“PanPan Insurance” is a Netherlands based tech insurance company that was set up 2017 to
                            specialise in yacht
                            charter deposit insurances. In 2018 we launched the first Multi Trip Insurance cover which
                            allows two or more
                            trips to insure on one policy and get a discount on the overall price. In 2019
                            we launched our Black Box Insurance product LittleBox which helps safe skippers to receive
                            discounts based on their sailing style.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-default-darker well--inset-2 text-md-left">
            <div class="container-fluid container-wide center-sm">
                <div class="row">
                    <div class="col-xs-12">

                        <h1 class="brand">
                            <a href="">
                                <span class="brand__icon material-icons-grain"></span>
                                PanPan Insurance BV
                            </a>
                        </h1>

                        <p class="copyright"> &#169; <span id="copyright-year"></span>
                            <a href="policy.html" class="text-success">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
<!-- </script> -->
</body>
</html>
